NODE_ENV='development'

# Database settings
DATABASE_NAME='WorkoutTracker'
DATABASE_USER='postgres'
DATABASE_PASSWORD='postgres'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'
DATABASE_SSL='false'
DATABASE_MAX_CONNECTIONS='10'
DATABASE_MIN_CONNECTIONS='2'

# JWT settings
JWT_SECRET='jwt_secret'
